*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}

/* Buttons style */

.btn{
    padding: 10px;
    border: none;
    border-radius: 12px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.2);
}

/*avatar style */

.avatar{
    width: 80px;
    overflow: hidden;
}

.avatar img{
    width: 100%;
    border-radius: 50%;
    border: 5px solid orange;
}

/* grid layout */

.grid-container{
    height: 100vh;
    width: 100vw;
    display:grid;
    grid-template-columns: 270px 1fr 350px;
    grid-template-rows:  150px 1fr;
}

.sidebar{
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    background-color: #394263;
}


.header{
    display: flex;
    justify-content:space-between;
    grid-area: 1/2/2/4;
    padding: 10px 20px 10px 20px;
    background-color:cornflowerblue;
}

.main{
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
}

.news{
    grid-area: 2/3/3/4;
}

/* styling header */

.header .header-div1{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex: 1;
    border:2px solid red;
}

.header .header-div1 .search{
    
}

.header .header-div1 .search input{
    
}

.header .header-div1 .avatar{
   display: flex;
}

/*styling sidebar */

.sidebar .sidebar-dashboard{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.2);
}

.sidebar-list{
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.sidebar-list-item{
    padding: 20px;
    color:#ddd;
}

.sidebar-list-item:hover{
    background-color:rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/*styling main section */

.projects-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(390px,1fr));
    row-gap:40px;
    column-gap: 30px;
    margin-top:20px;
}

.projects-container .project{
    height: 450px;
    border-radius: 4px;
    padding-bottom:10px;
    background-color: gray;
}

.projects-container .project .project-image{
    width: 100%;
    height: 90%;
}

.projects-container .project .project-title{
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0px;
    transition: all 0.3s ease-out;
}

.projects-container .project .code{
    color: gray;
}

.projects-container .project:hover .code{
    color: orange;
}