*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}

/* Buttons style */

.btn{
    padding: 10px;
    border: none;
    border-radius: 12px;
    margin-right: 10px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.2);
}

/*avatar style */

.avatar{
    width: 80px;
    overflow: hidden;
}

.avatar img{
    width: 100%;
    border-radius: 50%;
    border: 5px solid orange;
}

/* grid layout */

.grid-container{
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:grid;
    grid-template-columns: 270px 1fr 400px;
    grid-template-rows:  150px 1fr;
}

.sidebar{
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    background-color: #394263;
}


.header{
    display: flex;
    justify-content:space-between;
    grid-area: 1/2/2/4;
    padding: 10px 20px 10px 20px;
    background-color:cornflowerblue;
}

.main{
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    background-color: antiquewhite;
}

.news{
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 30px 20px 0;
    background-color: antiquewhite;
}

/* styling header */

.header .header-div1{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex: 1;    
    border:2px solid red;
}

.header .header-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}

.header .header-div1 .search{
    
}

.header .header-div1 .search input{
    
}

.header .header-div1 .avatar{
}

/*styling sidebar */

.sidebar .sidebar-dashboard{
    height: 200px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.2);
}

.sidebar .sidebar-dashboard .avatar{
    width: 100px;
}

.sidebar-list{
    padding: 0;
    margin-top: 30px;
    list-style-type: none;
}

.sidebar-list-item{
    font-size: 17px;
    font-weight: 800;
    padding: 10px;
    margin: 5px 10px;
    color:#ddd;
}

.sidebar-list-item i{
    margin-right: 5px;
}

.sidebar-list-item:hover{
    background-color:rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/*styling main section */

.projects-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:40px;
    margin-top:20px;
    padding:40px;
}

.projects-container .project{
    height: 350px;
    border-radius: 4px;
    padding-bottom:10px;
    background-color: gray;
    -webkit-box-shadow: -14px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -14px 11px 5px 0px rgba(0,0,0,0.75);
}

.projects-container .project .project-image{
    width: 100%;
    height: 90%;
}

.projects-container .project .project-title{
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0px;
    transition: all 0.3s ease-out;
}

.projects-container .project .code{
    color: gray;
}

.projects-container .project:hover .code{
    color: orange;
}

/* styling news section */

.news .news-content{
    margin-top: 50px;
    padding: 10px;
}

.news .news-content .content{
    border-radius: 10px;
    margin-top: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.news-content .content .item,.news-content .content .item h3{
    margin: 10px 0px;
}