*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}

/* Buttons style */

.btn{
    font-size: 15px;
    font-weight: 600;
    padding:10px 30px;
    border-color: #394263;
    border-radius: 20px;
    margin:0 10px;
    text-align: center;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.2);
}

.btn:hover{
    background-color: white;

}

/*avatar style */

.avatar{
    width: 80px;
    cursor: pointer;
    overflow: hidden;
}

.avatar img{
    width: 100%;
    border-radius: 50%;
    border: 5px solid orange;
}

.avatar img:hover{
    border:5px solid #696969;
}

/* grid layout */

.grid-container{
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:grid;
    grid-template-columns: 270px 1fr 350px;
    grid-template-rows:  160px 1fr;
}

.sidebar{
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    background-color: #394263;
}


.header{
    grid-area: 1/2/2/4;
    padding:0 30px;
    display: grid;
    grid-template-columns: 1fr 450px;
    background-color:#c09797;
}

.main{
    text-align: center;
    text-transform: uppercase;
    padding:20px 0px 20px 20px;
    background-color:#e7c5b4;
}

.news{
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 30px 20px 0;
    background-color:#e7c5b4;
}

/* styling header */

.header .header-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}

.header .header-div1 .search i{
    font-size: 20px;
}

.header .header-div1 .search input{
    width:80%;
    height: 35px;
    margin: 10px;   
    border-radius: 25px;
    outline: none;
    padding: 0 15px;
    background-color: #e7e5e4;
}

input:focus{
    border-color: #394263;
}

.header .header-div1 .user{
    display: flex;
    align-items: center;
    padding:0 10px;
}

.header .header-div1 .avatar{
    margin: 0px 20px;
}

.header .header-div2{
    display: flex;
    flex-direction: column;
}

.header .header-div2 .user1{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.header .header-div2 .user1 div{
    margin:0 10px;
}

.header .header-div2 .user1 .avatar{
    width:60px;
}

.header .header-div2 .buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*styling sidebar */

.sidebar .sidebar-dashboard{
    height: 150px;
    padding: 5px;
    color:#ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar-list{
    padding: 0;
    margin:15px 0px 15px 0px;
    list-style-type: none;
}

.sidebar-list-item{
    font-size: 17px;
    font-weight: 800;
    padding: 10px;
    margin: 5px 10px;
    color:#ddd;
}

.sidebar-list-item i{
    margin-right: 10px;
}

.sidebar-list-item:hover{
    background-color:rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/*styling main section */
.main .heading{
    float: left;
    margin:0px 0px 10px 30px;
}

.projects-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:40px;
    padding:0px 30px 20px 20px;
}

.projects-container .project{
    height: 350px;
    border-radius: 5px;
    padding-bottom:10px;
    overflow: hidden;
    background-color: #696969;
    -webkit-box-shadow: -14px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -14px 11px 5px 0px rgba(0,0,0,0.75);
}

.projects-container .project .project-image{
    width: 100%;
    height: 90%;
}

.projects-container .project .project-title{
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0px;
    transition: all 0.5s ease-in-out;
}

.projects-container .project .code{
    color: #696969;
}

.projects-container .project:hover .code{
    color: orange;
}

/* styling news section */

.news .news-content{
    margin-top: 10px;
    padding: 10px;
}

.news .news-content .content{
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.news-content .content .item,.news-content .content .item h3{
    margin: 10px 0px;
}

.news .news-content .content .tre-item{
    display: flex;
    align-items: center;
    padding: 10px;
}

.news .news-content .content .tre-item .avatar{
    width: 60px;
    margin-right: 15px;
}